$o-community-color: #4285F4;
$o-enterprise-color: #4285F4;
$mt-menu-color: #fff;
$o-enterprise-primary-color: #4285F4;
$o-input-border-required: #6d6d6d;

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;

