/* Dashboard Background Style */
.o_form_view.o_dashboard{
    background-color: transparent;
}

/* Dashboard Change View Style */
.oe_dashboard_layout_selector li{
    margin: 0 5px;
    border-radius: 5px;
}
.oe_dashboard_layout_selector .oe_dashboard_selected_layout{
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
    margin-left: -50px;
    color: #5a8dee !important;
}

/* Dashboard View Style */
.o_dashboard .oe_dashboard_column{
    width: 100% !important;
    padding-top: 15px;
}
.o_dashboard .oe_dashboard_column .oe_action .oe_content .o_action{
    overflow: auto !important;
}

/* Dashboard View One Column Style */
.o_dashboard .oe_dashboard.oe_dashboard_layout_1 .oe_action{
    width: 99%;
    display: inline-block;
    max-height: 500px;
}

/* Dashboard View Two Column Style */
.o_dashboard .oe_dashboard.oe_dashboard_layout_1-1 .oe_action{
    width: 49%;
    display: inline-block;
    max-height: 500px;
}
.o_dashboard .oe_dashboard.oe_dashboard_layout_1-2 .oe_action:nth-child(even){
    width: 33%;
    display: inline-block;
    max-height: 500px;
}
.o_dashboard .oe_dashboard.oe_dashboard_layout_1-2 .oe_action:nth-child(odd){
    width: 65%;
    display: inline-block;
    max-height: 500px;
}
.o_dashboard .oe_dashboard.oe_dashboard_layout_2-1 .oe_action:nth-child(even){
    width: 65%;
    display: inline-block;
    max-height: 500px;
}
.o_dashboard .oe_dashboard.oe_dashboard_layout_2-1 .oe_action:nth-child(odd){
    width: 33%;
    display: inline-block;
    max-height: 500px;
}


/* Dashboard View Three Column Style */
.o_dashboard .oe_dashboard.oe_dashboard_layout_1-1-1 .oe_action{
    width: 32.5%;
    display: inline-block;
    max-height: 500px;
}


/* Dashboard Card Style */
.o_dashboard .oe_dashboard .oe_action{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(38 60 85 / 16%) !important;
}
.o_dashboard .oe_dashboard .oe_action .oe_header{
    background-color: #5a8dee;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.o_dashboard .oe_dashboard .oe_action .oe_header .oe_icon{
    color: #fff;
}
.o_dashboard .oe_dashboard .oe_action .oe_content{
    padding: 12px;
    overflow: auto;
    max-height: 450px;
}

